* {
    font-family: 'Montserrat', sans-serif;
}

section {
    width: 312px;
    margin: 10px;
    padding: 15px;
    background-color: #343a40 ;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    color: #e0e0e0;
    font-size: larger;

}

section:hover {
    transform: scale(1.1);
    cursor: pointer;
}
